<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ttop.app.apex" >
    <!--
    This is not that important, it's just here so that we can query equalizer package
    and check if it's present on A11+ because of Package visibility restrictions.
    -->
    <queries>
        <package android:name="com.android.musicfx" />
        <package android:name="com.samsung.android.soundassistant" />
    </queries>

    <application
        android:name=".App"
        android:allowBackup="@bool/allowBackup"
        android:appCategory="audio"
        android:configChanges="locale|layoutDirection"
        android:enableOnBackInvokedCallback="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:requestLegacyExternalStorage="true"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Apex.FollowSystem"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute" >
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError" >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/playlist" />
                <data android:mimeType="vnd.android.cursor.dir/albums" />
                <data android:mimeType="vnd.android.cursor.dir/artists" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.cyanogenmod.eleven.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="vnd.android.cursor.dir/audio" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.tageditor.AlbumTagEditorActivity" />
        <activity android:name=".ui.activities.tageditor.SongTagEditorActivity" />
        <activity android:name=".ui.activities.LicenseActivity" />
        <activity android:name=".ui.activities.ShareInstagramStory" />
        <activity android:name=".ui.activities.DriveModeActivity" />
        <activity
            android:name=".ui.activities.AppIntroActivity"
            android:label="@string/intro_label"
            android:noHistory="true" />
        <activity
            android:name=".ui.activities.LockScreenActivity"
            android:launchMode="singleTask"
            android:showOnLockScreen="true" />
        <activity
            android:name=".ui.fragments.backup.RestoreActivity"
            android:excludeFromRecents="false"
            android:exported="true"
            android:label="@string/restore"
            android:theme="@style/Theme.Apex.Dialog" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-zip-compressed" />
                <data android:mimeType="application/zip" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <!--
                    Work around Android's ugly primitive PatternMatcher
                    implementation that can't cope with finding a . early in
                    the path unless it's explicitly matched.
                -->
                <data android:host="*" />
                <data android:pathPattern=".*\\.ambak" />
                <data android:pathPattern=".*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ambak" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ambak" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appshortcuts.AppShortcutLauncherActivity"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.activities.saf.SAFGuideActivity"
            android:theme="@style/Theme.Intro" />
        <activity
            android:name=".ui.activities.ErrorActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="cat.ereza.customactivityoncrash.RESTART" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".appwidgets.BootReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetBig"
            android:enabled="false"
            android:exported="true"
            android:label="@string/app_widget_big_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_big_info" />
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetClassic"
            android:exported="true"
            android:label="@string/app_widget_classic_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_classic_info" />
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetFull"
            android:exported="true"
            android:label="@string/app_widget_full_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_full_info" />
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetCircle"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_widget_circle_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_circle_info" />
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetFullCircle"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_widget_full_circle_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_full_circle_info" />
        </receiver>
        <receiver
            android:name=".appwidgets.AppWidgetSquare"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_widget_square_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_square_info" />
        </receiver>

        <receiver
            android:name=".appwidgets.AppWidgetQueue"
            android:exported="true"
            android:label="@string/app_widget_queue_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_queue_info" />
        </receiver>

        <service
            android:name=".service.MusicService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true" />
        <!-- Android Auto -->
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/CarTheme" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/audio_wave_64px" />
        <!-- ChromeCast -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="com.ttop.app.apex.cast.CastOptionsProvider" />

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false" >
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
    </application>

</manifest>